/*#ticker {
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 5px;
    font-family: "Segoe UI", Optima, Helvetica, Arial, sans-serif;
    line-height: 1.8em;
}*/
/*
#ticker-box {
    background-color: #40C0CB;
    color: #FFF;
} */
